
.body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.sidebar {
    background-color: #CBF1F5;
    width: 200px;
    height: 100vh;
    float: left;
    padding: 20px;
}

.content {
    position: absolute;
    width: 1000px;
    left: 350px;
    text-align: center;
    padding: 20px;
    font-display: revert-layer;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: medium;
}



